.App{
text-align: center;


}

.cart{
  justify-content:end;
  margin: 15px;
  font-size: large;
  align-items: end;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 27px;
  justify-content: center;
  padding: 27px;
}